<div class="container-fluid m-0 p-0">
  <div class=" row">
    <div class="col-2 m-0 p-0">
      <app-sidebar class="align-items-center">
        <app-boton-sidebar>
          <button type="button" class="btn btn-primary btn-lg col-10 mt-5">Large button</button>
        </app-boton-sidebar>
        <app-boton-sidebar>
          <button type="button" class="btn btn-primary btn-lg col-10 mt-3" >Large button</button>
        </app-boton-sidebar>
        <app-boton-sidebar>
          <button type="button" class="btn btn-primary btn-lg col-10 mt-3">Large button</button>
        </app-boton-sidebar>
        
      </app-sidebar>
    </div>
    <div class="col-10 m-0 p-0">
      <app-header class="text-center">
        <h1 class="m-0">Esta es una prueba de estilos en componentes con Bootstrap</h1>
      </app-header>
      <app-tool-bar></app-tool-bar>
      <div class="d-flex">
        <app-main-wrapper>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </app-main-wrapper> 
        <app-main-wrapper>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </app-main-wrapper>
        <app-main-wrapper>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-bg-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </app-main-wrapper>
      </div>     
    </div>
  </div>
</div>